 

 body { 
   
   background-image:  url("new.jpg");
   background-repeat: no-repeat;
   background-size:100% 32%;    
  }


#header{
	      width:30%;
          height:30px;
          margin-left:1000px;
          margin-bottom:50px;
       padding-top:10px;
      border: 2px solid black;
}


 input.header[type=submit]:hover {
    background-color: #45a049;
}

.topnav{
        width:35%;
        height:50px;
        padding:5px;
        float:right;
        
		}


       #a{
           color: brown;
           text-align: center; 
           font-size: 17px;  
           margin-left:8px; 
       }

    #qwerty{
            width:250px;
            height:50px;
           float:right;
          
           
    }     

    
    }

     #button{
     	width:100px;
     	height:20px;

     }

     #input{
     	width:120px;
     	height:20px;
     }
      

       .search{
       	       float:left;
               margin-left:2px;
           }


#container{
           	margin top:10px;
            margin-left: 200px;
           	width:400px;
     	     height:350px;
     	     font-size: 1.3em;
          background-color:white;
          margin-top: 10px;

}
     	     
form{

     width:800px;
     height:500px;
     

}

fieldset{

	
    background-color:white;
  }
	

 label{
       display:block;
 }
 
/*
input[type=text], select {
           width: 200px;
          padding: 12px 20px;
           margin: 8px 0;
           display: inline-block;
           border: 1px solid #ccc;
           border-radius: 4px;
          box-sizing: border-box;
        }

   input[type=submit]:hover {
    background-color: #45a049;
}

input[type=submit] {
    width: 100%;
    background-color: gray;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
*/

#section{
	height:50px;
	width:800px;
    margin-top: 60px;
    padding left: 500px;
    text-align: center;
    color:seagreen;
   

 

}
.normal {
	color: gold;
	font-style:normal;
	text-align: justify;

}

#ojo{
	color:black;
	font-style:normal;
	text-align: justify;
	width:400px;
	height:300px;
	margin-top: 5px;
 	text-align: justify;
 	display: inline-block;
 	padding-right:20px;
 	 


}

#fly{
     width:400px;
	 height:50px;
	 margin-left: 140px;
	 margin-top: .1px ;
   
   
}

#qwe{
    font-style: normal;
    color:red;
}
.a{
  text-align: center;
}

#BNB{
  color:black;
  font-style:normal;
  text-align: justify;
  width:400px;
  height:400px;
  margin-top: 20px;
  text-align: justify;
  display: inline-block;
  padding-right:20px;

}

footer{
  border:1px solid black;
  text-align: center;
  font-style:normal;
  background-color:gray   ;
color:white;
  background-size: 5px;
}